* {
  margin: 0;
  padding: 0;
}

html {
  font-size: 18px;
  font-family: Raleway;
}

/* HEADER GOBAL */
.header {
  background: white;
  height: 80px;
  padding: 0 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: Raleway;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.5);
  position: fixed;
  z-index: 2;
  width: 95%;
  top:0;
}

.header_logo {
  font-size: 60px;
  color: orange;
}

.link-1 {
  transition: 0.3s ease;
  background:white;
  color: black;
  font-size: 20px;
  text-decoration: none;
  border-top: 4px solid white;
  border-bottom: 4px solid white;
  padding: 20px 0;
  margin: 0 20px;
  font-weight: bolder;
}

.header_nav ul {
  list-style: none;
}

.header_nav ul li {

  display: inline;
  margin: 0 15px;
}

.header_nav ul li a {
  transition: all 1s;
  -webkit-transition: all 1s;
  -moz-transition: all 1s;
  -ms-transition: all 1s;
  -o-transition: all 1s;
}

.header_nav ul li a:hover {
  color: #fa5238;
  font-size: 30px;
}

.link-1:hover {
  border-top: 4px solid #fa5238;
  border-bottom: 4px solid #fa5238;
  padding: 6px 0;
}

.header_nav ul li.active a {
  color: #fa5238;
}

.header_login
{
  transition: 0.8s ease;
  font-size: 20px;
  font-weight: bold;
  color: black;
  display: flex;
  align-items: center;
  text-decoration: none;
  border-bottom: 4px solid #ffffff;
  border-top: 4px solid #ffffff;
  -webkit-transition: 0.8s ease;
  -moz-transition: 0.8s ease;
  -ms-transition: 0.8s ease;
  -o-transition: 0.8s ease;
  margin: 40px 0px;
}
.header_login i
{
  font-size: 35px;
  margin-right: 8px
}
.header_login:hover
{
  cursor: pointer;
  border-bottom: 4px solid #fa5238;
  border-top: 4px solid #fa5238;
  padding: 10px 0; 
  margin: 20px 0px;
  color: #fa5238;
  
} 
.active
{
  color: #fa5238;
}
.carousel {
  margin-top: 80px;
}
/* END HEADER */

/* Status-Movie */
.Status
{
    text-align: center;
    font-size: 2rem;
    margin: 30px;
    
}

.Status span
{
  margin-right: 50px;
  font-size: 2rem;
  transition-property: all;
    transition-duration: 0.5s;
    transition-timing-function: ease-in-out;
}

.Status span:hover
{
  color: #fa5238;
  
  cursor: pointer;
  font-size: 2.3rem;
  /*  */
}

.movie-content
{
  padding: 0 10%;
}

.movie-item img
{
  max-width: 100%;
  border-radius: 0.1rem;
  -webkit-border-radius: 0.1rem;
  -moz-border-radius: 0.1rem;
  -ms-border-radius: 0.1rem;
  -o-border-radius: 0.1rem;
  transition: all 1s;
  -webkit-transition: all 1s;
  -moz-transition: all 1s;
  -ms-transition: all 1s;
  -o-transition: all 1s;
}

.movie-item p{
  font-size: 1.2rem;
  text-align: center;
  padding: 20px;
}

.btn-read-more
{
  background-color: #fa5238;
  color: white;
  padding: 0.7rem 0;
  width: 100%;
  border: none;
  font-weight: bold;
  margin-top: 20px;
  border-radius:3px   ;
  -webkit-border-radius:3px   ;
  -moz-border-radius:3px   ;
  -ms-border-radius:3px   ;
  -o-border-radius:3px   ;
}
.btn-read-more:hover
{
  background-color: white;
  border: solid 1px #fa5238;
  color: #fa5238;
  transition: all 1s;
  -webkit-transition: all 1s;
  -moz-transition: all 1s;
  -ms-transition: all 1s;
  -o-transition: all 1s;
}
.movie-item:hover .btn-read-more
{
  display: block;
  cursor: pointer;
}
.movie-item:hover
{
  cursor: pointer;
}
.movie-item:hover p
{
  display: none;
  cursor: pointer;
}

.overlay
{
    color: white;
    width: 100%;
    height: 84.5%;
    position: absolute;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    top: 0;
    text-align: left;
    transition: all 1s;
    opacity: 0;
    -webkit-transition: all 1s;
    -moz-transition: all 1s;
    -ms-transition: all 1s;
    -o-transition: all 1s;
    margin-bottom: 30px;
}
.overlay i
{
  top:20%;
  font-size: 50px;
}
.overlay-text
{
    font-size: 13px;
    padding: 130px 30px;
    
}
.movie-item:hover .overlay
{
  opacity: 1;
  margin-bottom: unset;
}


/* END */
/* customize carousel  */
.movie-content .owl-prev
{
  position: absolute; /*vì chỗ thằng owl-carouse đã có position: relative; rồi*/
  top: 30%;
  left: -6rem;
  
}
.movie-content .owl-prev span
{
  font-size: 6rem;
}
.movie-content .owl-next
{
  position: absolute; /*vì chỗ thằng owl-carouse đã có position: relative; rồi*/
  top: 30%;
  right: -6rem;
  
}
.movie-content .owl-next span
{
  font-size: 6rem;
}

/* ---- */
/* CSS NEW */
.new-content
{
  padding: 0 10%;
  padding-bottom: 10%;
  display: grid;
  grid-template-columns:1fr 1fr 1fr;
  grid-gap: 10px;
}
.new-content a
{
  display: block;
  height: 100%;
}
/*---- */
/* CUSTOMIZE HOVER EFFECT */
.new-content .grid 
{
  padding: 0;
}

.new-content .grid figure
{
  min-width: unset;
  max-width: unset;
  width: 100% ;
  margin: 0;
  height: 100%;
}

.new-content figure.effect-romeo p
{
  padding: 0;
  
}
